<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.MedicalRecordMapper">
    <select id="getAllMedicalRecords" resultType="org.example.model.MedicalRecord">
        SELECT ma.resident_id,ma.health_condition,ma.medical_history,ma.medication, rs.name
        FROM MedicalRecords ma
                 INNER JOIN Residents rs ON ma.resident_id = rs.id
    </select>

    <select id="getMedicalRecordsByResident" resultType="org.example.model.MedicalRecord">
        SELECT ma.resident_id,ma.health_condition,ma.medical_history,ma.medication, rs.name
        FROM MedicalRecords ma
                 INNER JOIN Residents rs ON ma.resident_id = rs.id
        WHERE ma.resident_id = #{residentId}
    </select>
</mapper>