<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.dao.ScheduleMapper">
    <select id="getAllSchedules" resultType="org.example.model.Schedule">
        SELECT ad.id,ad.employee_id,em.name,ad.schedule_date
        FROM Schedules ad
                 INNER JOIN Employees em ON ad.employee_id = em.id
    </select>
</mapper>